body{text-align: center;}
h2 {width: 10em;background-color: #7094db;color: #ffffff;}


#header {
	height: 100px;background-color: #c6d9ec;padding: 1em}

#practice {
	height: 100px;background-color: #c6d9ec;padding: 1em}

#talk {
	height: 200px;background-color: #c6d9ec;padding: 1em}

#memo{
	height: 200px;
	text-align: left;background-color: #c6d9ec;padding: 1em}

#info{
	height: 200px;
	text-align: center;background-color: #c6d9ec;padding: 2em;
}

#me:link{background-color: lightblue;padding: 1em;}
#me:visited{background-color: #336699;padding: 1em;}
#me:hover{background-color:#336600;padding: 1em;}
#me:active{background-color: #330000;padding: 1em;}

th,td {width:20em;background-color: white;border: 2px solid #005}